@import
url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

/* Global
***********************************************************************************************************************/

* {
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
}

body   {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}


/* adjust the sizing of SOME OF MY WORKS pictures */
img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 95%; /* a width suitable to the webpage size, does not exceed it otherwise it will wrap around.*/
    max-width: 75em; /* adjust the size of our container */
    margin: 0 auto; /* stops the text from touching the side of the screen */
}

.clearfix::after,
section::after, 
footer::after {
    content: '';
    display: block; /* creates a block after footer section */
    clear: both;
}


/* COLUMN SYSTEM
************************************************************************************************************************/
/* any class that starts with col-*/
[class^=col-] {
    width: 100%;
    margin-top: 1em;
}

[class^=col-]:first-child {
    margin-top: 0;
}

.col-1 {
    width: 33.333333334%;
    float: left;
}

/* so at 40 rem and above (40 to full screen, take these affects )*/
@media (min-width: 40rem) {

    [class^=col-] {
        float: left;
        padding: 0 .5em;
        margin-top: 0;
    }

    [class^=col-]:first-child {
        padding-left: 0;
    }
    
    [class^=col-]:last-child {
        padding-right: 0;
    }

    .col-3 {
        width: 50%;
    }
    
    .col-1 {
        width: 16.66666667%;
    }
}




/* typography
******************************************************************************************************************************/
h1 {
    font-weight: 500;
    font-size: 1.7rem;
    margin-top: 0;
}

p {
    margin-top: 0; /* pushes the p tag down */ 
    line-height: 1.5; /* line spacing */
}

p:last-of-type {
    margin-bottom: 0; /* bottom paragraphs has no margins */
}


.title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem; /* creates the space between the title and button beneath it */
    font-weight: 900;
    margin-top: 1em;
}

.title span {
    font-weight: 300;
    display: block; /* always on its on line. */
    font-size: .9em;
}

.title-cta {
    margin: 0 0 .5em;
}

.unstyled-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.unstyled-list a { /* formats the link inside of our list at the bottom of the footer */
    text-decoration: none;
    font-size: 1rem;
    color: #FFF;
}

.unstyled-list li {
    padding-bottom: 5px;
}

#unstyled-list-header { /* format the header of the list at the bottom of the page */
    font-weight: 900;
    font-size: 18px;
    padding-bottom: 8px;
}


@media (min-width: 60rem){ /* when it reaches this rem, the attributes will change */
   
    p {
       font-size: 1.2rem;
       line-height: 1.6;
   }
   
   
    .title {
        font-size: 3.7rem;
    }

    #unstyled-list-header {
        font-size: 20px;
    }
}

/* Buttons 
*************************************************************************************************************************************/
.button {
    display: inline-block; /* this fixes the button display so that it does NOT merge with the text around it*/
    font-size: 1.15rem;
    text-decoration: none; /*removes the under score*/
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    /* padding in em's using em is porportional to the font size, so if the font size is bigger the padding is bigger */
    padding: .5em 1.75em; /* .5 is for the top and bottom padding and 1.5 is for the right and left padding */
}

@media (min-width: 60rem){ /* allows us to adjust the sizing of our pages when loaded on different sizing screens */
    .button{
        font-size: 1.5rem;
    }
}


.button-small {
    font-size: .7rem;
    font-weight: 700;
}


.button-accent {
    color: #00ff6c;
    border-color: #00ff6c;
}

.button-accent:hover,
.button-accent:focus {
    background: #00ff6c;
    color: #232323;
}

.button-dark {
    color: #232323;
    border-color: #232323;
}

.button-dark:hover,
.button-dark:focus {
    background: #232323;
    color: #00ff6c;
}

 /* move the LINK TO GITHUB button */
 .button-resume{
    margin-top: 2.5rem;
    background-color: DodgerBlue;
    border: none;
    text-decoration: none; /*removes the under score*/
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

.button-resume:hover{
    background-color: RoyalBlue;
}

/* move the SEE MY WORK button */
.button-hero{
    margin-top: 3rem; 
}





/* header
************************************************************************************************************************************/

header {
    position:  absolute; /* overlays the header "Creative inc. and the nav ul links" over the picture*/ 
    left: 0; /* centers the header*/
    right: 0; /* center the header */
    margin: 1em;
}

nav ul { /* */
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{ /* rearranges the link on the html site: home about contact, are all in a line*/
    display: inline-block;
    margin: 1em; /* margin betwen the links */
}

nav .current a{
    color: #00ff6c;
    font-weight:  bold;
}

nav a { /* sets up the clickable link */
    font-weight: 900;
    text-decoration: none; /* removes the underline on links */
    text-transform: uppercase;
    font-size: .8rem;
    padding: .5rem;
    color: #FFF;
}

nav a:hover,
nav a:focus {
    color: rgb(35, 216, 19);
}

/* allows us to adjust the sizing of our pages when loaded on different sizing screens */
@media (min-width: 60rem){ 
    .logo {
        float: left;
    }

    nav {
        float: right;
        margin-right: 2.5rem;
    }

    nav a { /* when we get to 60rem, webpage makes the font size bigger*/
        font-size: 1rem;
    }

    nav .current a{
        color: #00ff6c;
        font-weight:  bold;
    }
}

@media (min-width: 86rem) {
    .logo {
        float: left;
        margin-left: 5rem;
    }
    nav a { /* when we get to 60rem, webpage makes the font size bigger*/
        font-size: 1.5rem;
    }
}



/* home-hero
*******************************************************************************************************************************/

.home-hero {
    background-image: url(img/webdesign.jpg);
    background-size: cover;
    background-position: center;
    padding: 10em 0; /*10em top and bottom, 0 right and left */
    color: #FFF;
}

/* at full size! */
@media (min-width: 60rem) {
    .home-hero {
        height: 100vh; /* has the background picture take up all the view port height*/
        padding-top: 25vh; /* pushes "MAKE THINGS LOOK GREAT" towards the bottom */
    }

    /* move the GITHUB button */
    .button-hero{
        margin-top: 4rem; 
    }

    /* move the LINK TO RESUME button */
    .button-resume{
        margin-top: 3.5rem;
    }
}


@media (min-width: 86rem) {
    .home-hero {
        height: 100vh; /* has the background picture take up all the view port height*/
        padding-top: 25vh; /* pushes "MAKE THINGS LOOK GREAT" towards the bottom */
    }

    .home-hero h1{
        font-size: 80px;
    }

    /* move the SEE MY WORK button */
    .button-hero{
        margin-top: 3rem;
        font-size: 2rem;
    }

    /* move the LINK TO GITHUB button */
    .button-resume{
        margin-top: 6.5rem;
        font-size: 2rem;
    }
}


/* home-about INDEX (MAIN PAGE)
****************************************************************************************************************************/
.home-about-textbox {
    background-color: #232323;
    padding: 5em; /* pads all sides of the about me content  */
    width: 100vw; /* vw = viewport width, varies between the webpage size, will be 100% of the cainter width. */
    margin-left: -2.6%; /* bc of the space on the left size, we had to init margin-left to drag the home about text back to the left side */
    outline: 2px solid #00ff6c; /* gives us the square about WHO AM I?*/
    outline-offset: -2.5em; /* positions the square nearer towards the center */
    color: #FFF; /* changes the color of the text inside of the WHO AM I box */
    position: relative; /* positions the ENTIRE who am i text back where it is at */
}

.home-about-textbox h1 {
    color: #00ff6c;
    position: absolute;
    left: 50%; /* when we are minimized, moves the "WHO AM I?" towards the middle of the page */
    transform: translateX(-50%); /*helps move the far right side 50% */
    top: .75em;
    background: #232323;
    padding: 0 .145em; /* 0 top and bottom, .145em left and right */
    white-space: nowrap;
}

@media (min-width: 10rem) {

    h1 {
        font-size: 1.5rem;
    }

    .home-about-textbox h1 {
        top: 1em;
        padding: 0 .325em;
    }

}


@media (min-width: 25rem) {

    h1 {
        font-size: 1.75rem;
    }

    .home-about-textbox h1 {
        top: .6em;
        padding: 0 .325em;
    }
}

@media (min-width: 60rem) {
    h1 {
        font-size: 2.5rem;
    }

    .home-about { 
        background-image: url(img/me4.jpeg);
        background-repeat: no-repeat;
        padding-bottom: 0em; /* stretches the images towards the bottom */
    }

    .home-about-textbox {
        width: 50%; /* adjust the width compared to the conainter width we set. so 60% of 95%*/
        padding: 7em; /* padding between all sides */
        outline-offset: -3.75em; /* moves the green outline */
        margin-left: -2.5%; /* moves out entire container towards the left */
        top: -5em; /* moves the WHO AM I text box towards the top*/
        text-align: left;
        box-shadow: 0 0 4em 0 rgba(0, 0, 0, .3);
    }

    .home-about-textbox h1 {
        top: 1.2em;
        left: 12.5rem; /* moves WHO AM I? text */
        transform: translateX(-5rem);
        white-space:nowrap;
    }
}

@media (min-width: 86rem) {
    .home-about-textbox h1 {
        top: .75em;
        left: 16rem; /* moves WHO AM I? text */
        transform: translateX(-5rem);
        white-space:nowrap;
    }
    .home-about-textbox{
        width: 60%;
        margin-left: -18%; /* moves out entire container towards the left */
    }
}
/* home-about ABOUT PAGE
****************************************************************************************************************************/
.experience {
    background-color: #232323;
    padding: 5em; /* pads all sides of the home-about-textbox  */
    width: 100vw; /* vw = viewport width, varies between the webpage size, will be 100% of the cainter width. */
    height: 600px; /* manage black box height*/
    margin-left: 0%; /* move black box towards the right */
    outline: 2px solid #00ff6c; /* gives us the square about WHO AM I?*/
    outline-offset: -2.5em;/* positions the square nearer towards the center */
    color: #FFF; /* changes the color of the text inside of the WHO AM I box */
    position: relative; /* positions the ENTIRE who am i text back where it is at */
}
.ul-skill-set{
    text-align: left;
    font-size: 1.5em;
}
.experience h1 {
    color: #00ff6c;
    position: absolute;
    left: 50%; /* moves "PURPOSE OF WEBPAGE" towards the center */
    transform: translateX(-50%); /*helps move the far right side 50% */
    top: .9em; /* moves it up and down */
    background: #232323;
    padding: 0 .145em; /* 0 top and bottom, .145em left and right */
    white-space: nowrap; /* "purpose of webpage" does not break into new line*/
}
.experience h2,
.experience h3,
.experience p{
    font-size: 1.25em;
    padding: none;
    margin: 8px;
}
/* If screen size is more than 10rem = 160px wide, set the font-size of <div> to 80px */
@media (min-width: 10rem) {

    h1 {
        font-size: 1.5rem;
    }

}

/* If screen size is more than 25rem = 400px wide, set the font-size of <div> to 80px */
@media (min-width: 25rem) {
    h1 {
        font-size: 2rem;
    }
    .experience{
        outline-offset: -2.9em;/* positions the square nearer towards the center */
    }
}

/* If screen size is more than 70rem = 1120px wide, set the font-size of <div> to 80px */
@media (min-width: 70rem) {
    .experience h1 {
        font-size: 2rem;
    }
    .experience {
        font-size: .92rem;
        width: 33.33333%; /* adjust the width compared to the conainter width we set. so 60% of 95%*/
        height: 750px;
        padding: 7em; /* padding between all sides */
        outline-offset: -3.5em; /* moves the green outline */
        text-align: left;
        box-shadow: 0 0 4em 0 rgba(0, 0, 0, .3);
        float: left;
    }
}



/* If screen size is more than 90rem = 1440px wide, set the font-size of <div> to 80px */
@media (min-width: 90rem) {
    h1 {
        font-size: 2.5rem;
    }
    .experience {
        font-size: 1.03rem;
        width: 33.33333%; /* adjust the width compared to the conainter width we set. so 60% of 95%*/
        height: 750px;
        padding: 7em; /* padding between all sides */
        outline-offset: -3em; /* moves the green outline */
        top: 0em; /* moves the entire "about me" text box towards the top*/
        text-align: left;
        box-shadow: 0 0 4em 0 rgba(0, 0, 0, .3);
        float: left;
    }

}



/* portfolio
***********************************************************************************************************************************/
.portfolio { /* moves "SOME OF MY WORK" */
    margin: 3em 0 0; /*3em for the top, 0 for left and right, and 0 for the bottom*/
}

.port-item {
    margin: 0;
    position: relative;
}

.port-item img {
    display: block;
}

.port-desc {
   position: absolute;
   z-index: 100;
   bottom: 0em;
   left: 0em;
   right: 0em;
   color: white;
   background: rgba(0, 0, 0, .6);
   padding-bottom: 2em;
}

.port-desc p {
    margin: 1em;
}

@media (min-width: 37rem) {
    .port-item {
        width: 50%;
        float: left;
    }
}

@media (min-width: 60rem) {
    .port-item {
        width: 33.33333334%; /* so they align 3 pics */
        overflow: hidden;
    }

    .port-desc { /*moves the item descrption towards the bottom*/
        transform: translateY(150%);
    }

    .port-item:hover .port-desc {
        transform: translateY(0%);
    }
}


@media (min-width: 85rem) {
    .port-item img{
        width: 100%;
    }

}


/* CTA
***************************************************************************************************************************************/

.cta {
    background-color: #00ff6c;
    padding: 5em 0;
}

/* FOOTER
**************************************************************************************************************************************/

footer {
    background: #232323;
    color: #fff;
    text-align: left;
    padding: 5em 0; /* first num is padding from top and bottom, second num is  */
}

